<%= stylesheet_link_tag 'devise'%>
<div id = "edit-form-div">
  <%= link_to "Back", user_path(current_user), class: "back-btn" %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div id="profile-field"> 
      <%if current_user.any_attached?%>
        <img src = <%=url_for(current_user.profile_picture)%> class = "profile-picture">
      <%else%>
         <img class = "profile-picture">
      <%end%>
      <%= f.label :profile_picture, "Profile Picture" %><br />
      <%= f.file_field :profile_picture, accept: 'image/jpeg,image/png', id: "profile-pic-file"%>
    </div>
  
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "name-field" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "password-field" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-field"  %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
      <b> If you used Facebook to log in, don't put anything here!</b><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "password-field"  %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "update-btn" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel-btn" %></p>

 
</div>