<%=stylesheet_link_tag 'user_dashboard'%>
<div id = "user-profile-div">
    <div class = "profile-pic-info">
        <%if current_user.profile_picture.attached?%>
            <img src = <%= url_for(current_user.profile_picture)%> class = "big-profile-picture"%>
        <%else%>
            <div class = "big-profile-picture"></div>
        <%end%>
        <div class = "user-profile-name">
            <h2><%=current_user.name%><h2>
            <p>Member since <%=current_user.created_at.to_s.split(" ")[0]%></p>
        </div>
    </div>
    <div class = "user-profile-information">
        <div class = "user-row">
            <h4>Friends</h4>
            <p><%=@friends%></p>
        </div>
    </div>
</div>