<%=stylesheet_link_tag 'edit-post'%>
<div id = "edit-form-div">
    <h2 class = "edit-title">Edit post</h2>
    <div class = "post-content">
        <div class = "user-post-info">
            <div class = "profile-picture"></div>
            <div class = "user-details">
                <h3><%=@edit.user.name%></h3>
                <p>Posted <%=distance_of_time_in_words(Time.now, @edit.updated_at)%> ago</p>
            </div>
        </div>
        <%=form_with(model: @edit, method: "put", class: "edit-form") do|f|%>
            <%= f.text_area(:body_text)%>
            <%= f.submit(class: "update-btn")%>
        <%end%>
        <%if @edit.post_picture.attached?%>
            <img src= <%=url_for(@edit.post_picture)%> class = "post-pic">
        <%end%>
        <div class = "react">
            <%if did_user_like_post?(@edit)%>
                <a class = "react-link" id = "liked" href = <%=post_like_path(@edit, 0)%> data-method = "delete" title = "Unlike post"><span class="material-icons md-18" id = "liked">thumb_up</span>Liked (<%=@edit.likes.length%>)</a>
            <%else%>
                <a class = "react-link" href = <%=post_likes_path(@edit)%> data-method = "post" title = "Like post"><span class="material-icons md-18">thumb_up</span>Like (<%=@edit.likes.length%>)</a>
            <%end%>
            <a class = "react-link view-comments-<%=@edit.id%> comments"><span class="material-icons md-18" id = "react-icon">add_comment</span>Comments (<%=@edit.comments.length%>)</a>
        </div>
        <%=render 'posts/comments', post: @edit, edit: false, edit_comment: @edit.id%>
    </div>
</div>