<!DOCTYPE html>
<html>
  <head>
    <title>Friendbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%=render 'layouts/navbar'%>
    <%if !user_signed_in?%>
      <div id = "wave">
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fb4f4f" fill-opacity="1" d="M0,288L30,256C60,224,120,160,180,154.7C240,149,300,203,360,218.7C420,235,480,213,540,213.3C600,213,660,235,720,224C780,213,840,171,900,138.7C960,107,1020,85,1080,101.3C1140,117,1200,171,1260,176C1320,181,1380,139,1410,117.3L1440,96L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
    <%end%>
    <main id = "main-div">
      <%= yield %>
    </main>
   
  </body>
</html>
